body {
    background-color: white;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 2.2em;
    color: #263238;
    font-family: 'montserrat';
}

h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1rem;
    font-weight: bold;
}

div.body {
    min-height: 600px;
    padding: 40px 30px;
    border-top: 1px solid #eee;
    top: -1px;
    position: relative;
}

a.logo {
    display: inline-block;
    color: white;
    text-decoration: none;
}

span.logo-title {
    font-family: 'Montserrat', serif;
    font-size: 1.8em;
    display: block;
    line-height: .9em;
}

.tabs {
    font-weight: normal;
    text-align: center;
}
.tab a.active {
    color: rgb(16, 188, 144) !important;
    font-weight: bold;
}
.tabs .tab a:hover {
    background-color: #fff !important;
    color:#10bc90!important;
}
.tabs .tab a {
    color: #1d8572 !important;
    font-size: 15px !important;
}
.tabs .indicator{
    background-color: #b1b1b1 !important;
}

td.nowrap-column {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 50px;
    font-weight: bold;
}

.breadcrumbs {
    margin-top: 20px;
    font-weight: bold;
}
    .breadcrumbs a:hover {
        text-decoration: underline;
    }


.assessment-card:hover {
    position: relative;
    top: -3px;
}


li.disc-option {
    list-style: disc inside !important;
}

/** radar chart related */
    .highcharts-yaxis-grid .highcharts-grid-line:last-child {
        display: none !important;
    }

    .highcharts-xaxis {
        display: none !important;
    }

    .highcharts-background {
        fill: none !important;
    }

    #scoreChartContainer .highcharts-series-group {
        pointer-events: all !important;
        cursor: pointer !important;
        fill-opacity: 0.80 !important;
    }

    .highcharts-root {
        font-family: 'Open Sans', sans-serif !important;
    }
    .highcharts-axis-labels.highcharts-xaxis-labels {
        font-weight: 700;
    }

    .highcharts-title {
        font-family: "Montserrat";
        font-weight: 700;
    }



